@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Input.Email" class="form-control" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Input.Email" class="form-control" />
                }
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="ProfilePicture">Profile Picture</label>
                <div class="profile-picture-preview" id="profile-picture-container">
                    <span id="profile-picture-text">Choose profile photo</span>
                    <img id="profile-picture-preview" src="#" alt="Profile Picture Preview" />
                </div>
                <div class="custom-file mb-3">
                    <input type="file" name="ProfilePicture" class="custom-file-input" accept="image/*" onchange="previewProfilePicture(event)" id="profile-picture-input">
                    <label class="custom-file-label" for="profile-picture-input">Select photo...</label>
                </div>
                <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function previewProfilePicture(event) {
            var input = event.target;
            var preview = document.getElementById('profile-picture-preview');
            var text = document.getElementById('profile-picture-text');
            var container = document.getElementById('profile-picture-container');

            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                    text.style.display = 'none';
                    container.style.border = '1px solid #ddd';
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
    <style>
        .form-group {
            margin-bottom: 1.5rem;
        }

        .profile-picture-preview {
            width: 250px;
            height: 250px;
            border: 1px solid #495057;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            position: relative;
            margin-bottom: 1rem;
        }

            .profile-picture-preview img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: none;
                border-radius: 5px;
            }

        #profile-picture-text {
            position: absolute;
            color: #495057;
            text-align: center;
        }
    </style>
}
